<div class="container">

  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <span class="text-muted">Lucas Anjos</span>
      </div>
      <div class="col-4 text-center">
        <span class="blog-header-logo text-dark">Palindrome</span>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="btn btn-sm btn-outline-secondary" target="_blank" href="https://www.linkedin.com/in/lucasanjosbr/">Linkedin</a>
      </div>
    </div>
  </header>

  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="row">
      <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">Do you know what is a Palindrome?</h1>
        <p class="lead my-3">In a few words: A palindrome is a word, phrase, number, or another sequence of characters which reads the same backward
          or forward.</p>

      </div>
      <div class="col-md-6 text-center">
        <h2>Test a palindrome now!</h2>
        <br>
        <div class="form-group">
          <input [(ngModel)]="palindrome" (ngModelChange)="checkPalindrome()" type="text" class="form-control" placeholder="Palindrome">
        </div>
        <br>
        <div *ngIf="result === true">
          <h2>- {{palindrome}} - is a Palindrome!</h2>
        </div>
        <div *ngIf="result === false">
            <h2>- {{palindrome}} - it's not a Palindrome!</h2>
          </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary">Technologies</strong>
          <h3 class="mb-0">
            <span class="text-dark">What I used to built this?</span>
          </h3>
          <br>
          <p class="card-text mb-auto">FrontEnd: Angular 5 with Bootstrap 4.</p>
          <p class="card-text mb-auto">BackEnd: NodeJS with Koa2.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-success">Palindrome</strong>
          <h3 class="mb-0">
            <span class="text-dark">Want to know more about Palindromes?</span>
          </h3>
          <p class="card-text mb-auto">This website contains a list of palindromes phrases and some curiosities.</p>
          <a target="_blank" href="http://www.palindromelist.net/">Check it now!</a>
        </div>
      </div>
    </div>
  </div>
</div>
